<ion-view view-title="Settings">
	<ion-content ng-class="{expanded:isExpanded}">


	  	<div class="list">

	  		<a class="item item-icon-left item-icon-right" href="#">
				<i class="icon ion-person"></i>
					Account
				<i class="icon ion-ios-arrow-right"></i>
			</a>

			<a class="item item-icon-left item-icon-right" href="#">
				<i class="icon ion-ios-bell"></i>
					Manage Notifications
				<i class="icon ion-ios-arrow-right"></i>
			</a>

			<a class="item item-icon-left" href="#">
				<i class="icon ion-ios-star"></i>
					Challenges	
				<span class="badge">10</span>
			</a>

			<a class="item item-icon-left" href="#">
				<i class="icon ion-person-stalker"></i>
					Friends
				<span class="badge badge-assertive">10</span>
			</a>

	  	</div>
  </ion-content>
</ion-view>