/*Variables*/
/*Global classes*/
/* line 5, ../sass/main.scss */
.text-align-center {
  text-align: center;
}

/* line 8, ../sass/main.scss */
.width-all-space {
  width: 100%;
}

/*LOGIN*/
/* line 13, ../sass/main.scss */
.foodsquare-icon {
  height: 75px;
  z-index: 10;
  background-image: url(img/restaurant.svg);
  /* background-repeat: no-repeat; */
  -webkit-mask: url(img/restaurant.svg) no-repeat 50% 50%;
  mask: url(img/restaurant.svg) no-repeat 50% 50%;
}

/* line 21, ../sass/main.scss */
.foodsquare-login-header h1 {
  color: #F5F5F5;
  font-family: cursive;
  font-size: 400%;
}

/* line 26, ../sass/main.scss */
.foodsquare-login-background {
  background: #D84F4F;
}

/* line 29, ../sass/main.scss */
.foodsquare-login-body {
  margin-top: 40%;
}

/* line 32, ../sass/main.scss */
.foodsquare-login-successmsg .popup-body {
  text-align: center;
}

/*Menu*/
/* line 37, ../sass/main.scss */
.foodsquare-menu-header {
  background: red;
}

/* line 41, ../sass/main.scss */
.foodsquare-menu-infouser .list {
  margin-bottom: 200px;
}
/* line 45, ../sass/main.scss */
.foodsquare-menu-infouser div[name="foodsquare-menu-user-avatar"] {
  font-size: 60px;
  width: 35%;
  padding: 20px;
  float: left;
}
/* line 51, ../sass/main.scss */
.foodsquare-menu-infouser div[name="foodsquare-menu-user-body"] {
  float: right;
  width: 60%;
}
/* line 55, ../sass/main.scss */
.foodsquare-menu-infouser > div {
  height: 100%;
}

/* line 63, ../sass/main.scss */
.foodsquare-menu-left-body {
  float: right;
  width: 50%;
}
